@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-mask {
  position: relative;
  color: transparent;
}

.gradient-mask::before {
  content: attr(data-text);
  position: absolute;
  background: linear-gradient(90deg, #75ebb6 0%, #1f724d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
