@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-mask {
  background: linear-gradient(90deg, #75ebb6 0%, #1f724d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-bg {
  background: radial-gradient(circle, #17712a 0%, #274c2ff4 45%, #000000 100%);
}
